# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

|Data Science Tools|
|:-----------------:|
|R Studio|
|Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
(3*4)+5
#  This a simple arithmetic expression to mutiply then add integers

17

In [25]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
List popular languages in Data Science
* Python
* R
* scala
* julia

## Author
Mohit Nayak